<section id="content">
    <div class="container">
	                <div class="row">
		                <div id="post">
				   			<div class="register-form-container">
				   				<div class="container-account-registration">  
		                 			<div class="post-form clearfix">
		                 				<div class="title-account-registration">Name</div>
		                 				<input name="name" placeholder="Input your name" class="input-data" ng-model="account.name"></input>
                        		
                        				<div class="title-account-registration">Phone Number</div>
		                 				<input name="name" placeholder="Input your phone number" class="input-data" ng-model="account.phone"></input>
                        		
                        				<div class="title-account-registration">Address</div>
		                 				<input name="name" placeholder="Input your address" class="input-data" ng-model="account.address"></input>
		                 				
		                 				<div class="title-account-registration">City</div>
		                 				<input name="name" placeholder="Input your city" class="input-data" ng-model="account.city"></input>
                        				
                        				<BR>
                        				<button class="btnSave btn-orange" id="msg-submit" ng-click="saveAccount(account)"><div class="text">Save</div></button>
                        				<BR><BR>
                        		</div>
				  				</div>
				  			</div>
						</div>
		</div>	
    </div>
</section>
		
